@media only screen and (min-width: 0px) {
    .design {
        font-size: 2rem;
        margin-top: 17.75rem;
    }
}

@media only screen and (min-width: 320px) {
    .design {
        font-size: 2rem;
        margin-top: 6rem;
    }
}
@media only screen and (min-width: 375px) {
    .design {
        font-size: 2.3rem;
        margin-top: 7rem;
    }
}
@media only screen and (min-width: 414px) {
    .design {
        font-size: 2.6rem;
        margin-top: 9rem;
    }
}
@media only screen and (min-width: 568px) {
    .design {
        font-size: 3rem;
        margin-top: 11rem;
    }
}
@media only screen and (min-width: 667px) {
    .design {
        font-size: 3rem;
        margin-top: 11rem;
    }
}
@media only screen and (min-width: 765px) {
    .design {
        font-size: 3.5rem;
        margin-top: 9rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!PORTRAIT HEIGHT FIXES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 650px) {
    .design {
        font-size: 2rem;
        margin-top: 11rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 800px) {
    .design {
        font-size: 2rem;
        margin-top: 14rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 900px) {
    .design {
        font-size: 2rem;
        margin-top: 17rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 1000px) {
    .design {
        font-size: 2rem;
        margin-top: 20rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 1100px) {
    .design {
        font-size: 2rem;
        margin-top: 23rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 1200px) {
    .design {
        font-size: 2rem;
        margin-top: 26rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 1300px) {
    .design {
        font-size: 2rem;
        margin-top: 29rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 1400px) {
    .design {
        font-size: 2rem;
        margin-top: 32rem;
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px) and (min-height: 1500px) {
    .design {
        font-size: 2rem;
        margin-top: 35rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) and (min-height: 600px) {
    .design {
        font-size: 2rem;
        margin-top: 7.5rem;
    }
}

@media only screen and (min-width: 360px) and (max-width: 374px) and (min-height: 875px) {
    .design {
        font-size: 2rem;
        margin-top: 17rem;
    }
}

@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 775px) {
    .design {
        font-size: 2.3rem;
        margin-top: 9rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 875px) {
    .design {
        font-size: 2.3rem;
        margin-top: 15rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 975px) {
    .design {
        font-size: 2.3rem;
        margin-top: 18rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 1075px) {
    .design {
        font-size: 2.3rem;
        margin-top: 21rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 1175px) {
    .design {
        font-size: 2.3rem;
        margin-top: 24rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 1275px) {
    .design {
        font-size: 2.3rem;
        margin-top: 27rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 1375px) {
    .design {
        font-size: 2.3rem;
        margin-top: 30rem;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) and (min-height: 1475px) {
    .design {
        font-size: 2.3rem;
        margin-top: 33rem;
    }
}
@media only screen and (min-width: 414px) and (max-width: 567px) and (min-height: 825px) {
    .design {
        font-size: 2.6rem;
        margin-top: 14rem;
    }
}
@media only screen and (min-width: 414px) and (max-width: 567px) and (min-height: 1025px) {
    .design {
        font-size: 2.6rem;
        margin-top: 17rem;
    }
}
@media only screen and (min-width: 414px) and (max-width: 567px) and (min-height: 1125px) {
    .design {
        font-size: 2.6rem;
        margin-top: 18.5rem;
    }
}
@media only screen and (min-width: 414px) and (max-width: 567px) and (min-height: 1225px) {
    .design {
        font-size: 2.6rem;
        margin-top: 19.5rem;
    }
}
@media only screen and (min-width: 414px) and (max-width: 567px) and (min-height: 1325px) {
    .design {
        font-size: 2.6rem;
        margin-top: 20.5rem;
    }
}
@media only screen and (min-width: 414px) and (max-width: 567px) and (min-height: 1425px) {
    .design {
        font-size: 2.6rem;
        margin-top: 21.5rem;
    }
}
@media only screen and (min-width: 414px) and (max-width: 567px) and (min-height: 1525px) {
    .design {
        font-size: 2.6rem;
        margin-top: 22.5rem;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) and (min-height: 1000px) {
    .design {
        font-size: 3rem;
        margin-top: 15rem;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) and (min-height: 1100px) {
    .design {
        font-size: 3rem;
        margin-top: 18rem;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) and (min-height: 1200px) {
    .design {
        font-size: 3rem;
        margin-top: 21rem;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) and (min-height: 1300px) {
    .design {
        font-size: 3rem;
        margin-top: 24rem;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) and (min-height: 1400px) {
    .design {
        font-size: 3rem;
        margin-top: 27rem;
    }
}
@media only screen and (min-width: 568px) and (max-width: 666px) and (min-height: 1500px) {
    .design {
        font-size: 3rem;
        margin-top: 30rem;
    }
}
@media only screen and (min-width: 667px) and (max-width: 764px) and (min-height: 1000px) {
    .design {
        font-size: 3rem;
        margin-top: 15rem;
    }
}
@media only screen and (min-width: 667px) and (max-width: 764px) and (min-height: 1200px) {
    .design {
        font-size: 3rem;
        margin-top: 18rem;
    }
}
@media only screen and (min-width: 667px) and (max-width: 764px) and (min-height: 1400px) {
    .design {
        font-size: 3rem;
        margin-top: 21rem;
    }
}
@media only screen and (min-width: 667px) and (max-width: 764px) and (min-height: 1500px) {
    .design {
        font-size: 3rem;
        margin-top: 24rem;
    }
}
@media only screen and (min-width: 765px) and (min-height: 1000px) {
    .design {
        font-size: 3.5rem;
        margin-top: 13rem;
    }
}
@media only screen and (min-width: 765px) and (min-height: 1250px) {
    .design {
        font-size: 3.5rem;
        margin-top: 20rem;
    }
}
@media only screen and (min-width: 765px) and (min-height: 1500px) {
    .design {
        font-size: 3.5rem;
        margin-top: 27rem;
    }
}
@media only screen and (min-width: 2200px) and (min-height: 1200px) {
    .design {
        font-size: 4.5rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
    @media only screen and (min-width: 0px) {
    .downarrow {
        height: 3.75rem;
        width: 3.75rem;
        margin-top: -2rem;
    }
}

@media only screen and (min-width: 320px) {
    .downarrow {
        height: 3.75rem;
        width: 3.75rem;
        margin-top: -2rem;
    }
}
@media only screen and (min-width: 375px) {
    .downarrow {
        height: 4.25rem;
        width: 4.25rem;
        margin-top: -2rem;
    }
}
@media only screen and (min-width: 414px) {
    .downarrow {
        height: 4.25rem;
        width: 4.25rem;
        margin-top: -2rem;
    }
}
@media only screen and (min-width: 568px) {
    .downarrow {
        height: 4.25rem;
        width: 4.25rem;
        margin-top: -2rem;
    }
}
@media only screen and (min-width: 667px) {
    .downarrow {
        height: 4.25rem;
        width: 4.25rem;
        margin-top: -2rem;
    }
}
@media only screen and (min-width: 765px) {
    .downarrow {
        height: 4.75rem;
        width: 4.75rem;
        margin-top: -2rem;
    }
}
@media only screen and (min-width: 2200px) and (min-height: 1200px) {
    .downarrow {
        height: 5.25rem;
        width: 5.25rem;
        margin-top: -2rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) {
    .about,
    .contact,
    .home,
    .services {
        margin: 0 auto 0;
        font-size: 1rem;
        width: 2.85rem;
        top: 0.25rem;
        margin-top: 0.75rem;
    }
}
@media only screen and (min-width: 375px) {
    .about,
    .contact,
    .home,
    .services {
        margin: 0 auto 0;
        font-size: 1.1rem;
        top: 0;
        width: 2.85rem;
        margin-top: 1.75rem;
    }
}
@media only screen and (min-width: 414px) {
    .about,
    .contact,
    .home,
    .services {
        margin: 0 auto 0;
        font-size: 1.2rem;
        width: 2.85rem;
        top: 0;
        margin-top: 1.75rem;
    }
}
@media only screen and (min-width: 568px) {
    .about,
    .contact,
    .home,
    .services {
        margin: 0 auto 0;
        font-size: 1.5rem;
        width: 2.85rem;
        top: 0;
        margin-top: 3.75rem;
    }
}
@media only screen and (min-width: 667px) {
    .about,
    .contact,
    .home,
    .services {
        margin: 0 auto 0;
        font-size: 1.6rem;
        width: 2.85rem;
        margin-top: 3.75rem;
        top: -0.1rem;
    }
}
@media only screen and (min-width: 765px) {
    .about,
    .contact,
    .home,
    .services {
        font-size: 1.8rem;
        width: 2.85rem;
        margin-top: 3.75rem;
        top: -0.25rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!PORTRAIT HEIGHT FIXES!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 765px) and (min-height: 1024px) {
    .about,
    .contact,
    .home,
    .services {
        font-size: 1.8rem;
        width: 2.85rem;
        margin-top: 3.75rem;
        top: -0.35rem;
    }
}
@media only screen and (min-width: 2200px) and (min-height: 1200px) {
    .about,
    .contact,
    .home,
    .services {
        font-size: 2rem;
        width: 2.85rem;
        margin-top: 3.75rem;
        top: -0.35rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!START OF NAV!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 180px) {
    nav {
        margin: 0 auto 0;
    }
} /*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) {
    .home {
        margin-left: 2rem;
        right: 2rem;
    }
}
@media only screen and (min-width: 320px) {
    .about {
        right: 1.5rem;
    }
}
@media only screen and (min-width: 320px) {
    .services {
        left: 0.25rem;
    }
}
@media only screen and (min-width: 320px) {
    .contact {
        margin-right: 2.65rem;
        right: -1.85rem;
    }
}
@media only screen and (min-width: 375px) {
    .home {
        left: -1.5rem;
        margin-left: 2rem;
    }
}
@media only screen and (min-width: 375px) {
    .about {
        left: -1.5rem;
    }
}
@media only screen and (min-width: 375px) {
    .services {
        left: -0rem;
    }
}
@media only screen and (min-width: 375px) {
    .contact {
        left: 1.25rem;
    }
}
@media only screen and (min-width: 414px) {
    .home {
        left: -2.85rem;
        margin-left: 3rem;
    }
}
@media only screen and (min-width: 414px) {
    .about {
        left: -3rem;
    }
}
@media only screen and (min-width: 414px) {
    .services {
        left: -1rem;
    }
}
@media only screen and (min-width: 414px) {
    .contact {
        margin-right: 2.35rem;
        left: 0.5rem;
    }
}

@media only screen and (min-width: 525px) {
    .home {
        margin-left: 2rem;
        left: -0.75rem;
    }
}
@media only screen and (min-width: 525px) {
    .about {
        left: -2rem;
    }
}
@media only screen and (min-width: 525px) {
    .services {
        left: -0.75rem;
    }
}
@media only screen and (min-width: 525px) {
    .contact {
        margin-right: 2.65rem;
        left: -0.25rem;
    }
}

@media only screen and (min-width: 568px) {
    .home {
        margin-left: 2rem;
        left: -0.75rem;
    }
}
@media only screen and (min-width: 568px) {
    .about {
        left: -2rem;
    }
}
@media only screen and (min-width: 568px) {
    .services {
        left: -1rem;
    }
}
@media only screen and (min-width: 568px) {
    .contact {
        margin-right: 2.65rem;
        left: -1rem;
    }
}
@media only screen and (min-width: 667px) {
    .home {
        left: -1rem;
        margin-left: 3rem;
    }
}
@media only screen and (min-width: 667px) {
    .about {
        left: -1.65rem;
    }
}
@media only screen and (min-width: 667px) {
    .services {
        left: -0rem;
    }
}
@media only screen and (min-width: 667px) {
    .contact {
        margin-right: 5rem;
        left: 0.5rem;
    }
}
@media only screen and (min-width: 765px) {
    .home {
        left: -2.1rem;
        margin-left: 4rem;
    }
}
@media only screen and (min-width: 765px) {
    .about {
        left: -3.5rem;
    }
}
@media only screen and (min-width: 765px) {
    .services {
        left: -1.25rem;
    }
}
@media only screen and (min-width: 765px) {
    .contact {
        margin-right: 5rem;
        left: -0.25rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) {
    nav {
        top: 1rem;
        width: 19rem;
        border-width: 0.095rem;
    }
}

@media only screen and (min-width: 360px) {
    nav {
        top: 1rem;
        width: 21rem;
        border-width: 0.095rem;
    }
}

@media only screen and (min-width: 375px) {
    nav {
        top: 1rem;
        width: 22rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 414px) {
    nav {
        top: 1.5rem;
        width: 25rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 475px) {
    nav {
        top: 2rem;
        width: 28rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 525px) {
    nav {
        top: 2rem;
        width: 31rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 568px) {
    nav {
        top: 2rem;
        width: 33rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 667px) {
    nav {
        top: 2rem;
        width: 38.5rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 765px) {
    nav {
        top: 2rem;
        width: 45rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 765px) {
    nav {
        top: 2rem;
        width: 45rem;
        border-width: 0.095rem;
    }
}
@media only screen and (min-width: 2200px) and (min-height: 1200px) {
    nav {
        top: 2rem;
        width: 55rem;
        border-width: 0.095rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!PORTRAITS!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 320px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 375px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 375px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 375px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 414px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 414px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 414px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 535px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 535px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 535px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 650px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 650px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 650px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 834px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 834px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 834px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 934px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 934px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 934px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    .cppage {
        height: 2000px;
    }
} /*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 320px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 320px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 568px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 568px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 568px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 667px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 667px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 667px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 736px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 736px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 736px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 812px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 812px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 812px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 922px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 922px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 922px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1112px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1112px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1366px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1366px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1366px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1440px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1440px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1440px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1680px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1680px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1680px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1920px) and (orientation: landscape) {
    .mspage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1920px) and (orientation: landscape) {
    .pfpage {
        height: 2000px;
    }
}
@media only screen and (min-width: 1920px) and (orientation: landscape) {
    .cppage {
        height: 2000px;
    }
} 

/*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!*/

@media only screen and (min-width: 0px) {
    .profweb {
        font-size: 0.825rem;
    }
}

@media only screen and (min-width: 320px) {
    .profweb {
        font-size: 0.825rem;
    }
}
@media only screen and (min-width: 375px) {
    .profweb {
        font-size: 0.95rem;
    }
}
@media only screen and (min-width: 414px) {
    .profweb {
        font-size: 1.1rem;
    }
}
@media only screen and (min-width: 568px) {
    .profweb {
        font-size: 1.15rem;
    }
}
@media only screen and (min-width: 667px) {
    .profweb {
        font-size: 1.25rem;
    }
}
@media only screen and (min-width: 765px) {
    .profweb {
        font-size: 1.5rem;
    }
}
@media only screen and (min-width: 2200px) and (min-height: 1200px) {
    .profweb {
        font-size: 1.75rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!PORTRAITS!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) and (orientation: portrait) {
    #button {
        height: 2.25rem;
        width: 2.25rem;
        font-size: 0.8rem;
        margin-right: -1rem;
        margin-bottom: -1rem;
        display: flex !important;
        align-items: center !important;
        justify-content: space-around !important;
    }
}
@media only screen and (min-width: 375px) and (orientation: portrait) {
    #button {
        height: 2.4rem;
        width: 2.4rem;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 414px) and (orientation: portrait) {
    #button {
        height: 2.6rem;
        width: 2.6rem;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 535px) and (orientation: portrait) {
    #button {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 650px) and (orientation: portrait) {
    #button {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 768px) and (orientation: portrait) {
    #button {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 834px) and (orientation: portrait) {
    #button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 934px) and (orientation: portrait) {
    #button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1024px) and (orientation: portrait) {
    #button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
    }
} /*!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!*/
@media only screen and (min-width: 320px) and (orientation: landscape) {
    #button {
        height: 1.5rem;
        width: 1.5rem;
        font-size: 0.6rem;
        margin-right: -1rem;
        margin-bottom: -1rem;
        display: flex !important;
        align-items: center !important;
        justify-content: space-around !important;
    }
}
@media only screen and (min-width: 568px) and (orientation: landscape) {
    #button {
        height: 2.25rem;
        width: 2.25rem;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 667px) and (orientation: landscape) {
    #button {
        height: 2.4rem;
        width: 2.4rem;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 736px) and (orientation: landscape) {
    #button {
        height: 2.6rem;
        width: 2.6rem;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width: 812px) and (orientation: landscape) {
    #button {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 922px) and (orientation: landscape) {
    #button {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 1024px) and (orientation: landscape) {
    #button {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 1112px) and (orientation: landscape) {
    #button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1366px) and (orientation: landscape) {
    #button {
        height: 2.8rem;
        width: 2.8rem;
        font-size: 0.9rem;
    }
}
@media only screen and (min-width: 1440px) and (orientation: landscape) {
    #button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1680px) and (orientation: landscape) {
    #button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
    }
}
@media only screen and (min-width: 1920px) and (orientation: landscape) {
    #button {
        height: 3rem;
        width: 3rem;
        font-size: 1rem;
    }
}

@media only screen and (min-width: 180px) and (orientation: portrait) {
    .waveTop {
        background-size: 50% 2rem;
    }
}
@media only screen and (min-width: 180px) and (orientation: portrait) {
    .waveMiddle {
        background-size: 50% 3rem;
    }
}
@media only screen and (min-width: 180px) and (orientation: portrait) {
    .waveBottom {
        background-size: 50% 2.25rem;
    }
}
@media only screen and (min-width: 180px) and (orientation: landscape) {
    .waveTop {
        background-size: 50% 2rem;
    }
}
@media only screen and (min-width: 180px) and (orientation: landscape) {
    .waveMiddle {
        background-size: 50% 2.5rem;
    }
}
@media only screen and (min-width: 180px) and (orientation: landscape) {
    .waveBottom {
        background-size: 50% 2.25rem;
    }
}
@media only screen and (min-width: 328px) and (orientation: portrait) {
    .waveTop {
        background-size: 50% 3rem;
    }
}
@media only screen and (min-width: 328px) and (orientation: portrait) {
    .waveMiddle {
        background-size: 50% 4rem;
    }
}
@media only screen and (min-width: 328px) and (orientation: portrait) {
    .waveBottom {
        background-size: 50% 3.25rem;
    }
}
@media only screen and (min-width: 328px) and (orientation: landscape) {
    .waveTop {
        background-size: 50% 3rem;
    }
}
@media only screen and (min-width: 328px) and (orientation: landscape) {
    .waveMiddle {
        background-size: 50% 4rem;
    }
}
@media only screen and (min-width: 328px) and (orientation: landscape) {
    .waveBottom {
        background-size: 50% 3.25rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: portrait) {
    .waveTop {
        background-size: 50% 4rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: portrait) {
    .waveMiddle {
        background-size: 50% 5rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: portrait) {
    .waveBottom {
        background-size: 50% 4.25rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
    .waveTop {
        background-size: 50% 4rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
    .waveMiddle {
        background-size: 50% 5rem;
    }
}
@media only screen and (min-width: 600px) and (orientation: landscape) {
    .waveBottom {
        background-size: 50% 4.25rem;
    }
}
@media only screen and (min-width: 801px) and (orientation: portrait) {
    .waveTop {
        background-size: 50% 5rem;
    }
}
@media only screen and (min-width: 801px) and (orientation: portrait) {
    .waveMiddle {
        background-size: 50% 6rem;
    }
}
@media only screen and (min-width: 801px) and (orientation: portrait) {
    .waveBottom {
        background-size: 50% 5.25rem;
    }
}
@media only screen and (min-width: 801px) and (orientation: landscape) {
    .waveTop {
        background-size: 50% 5rem;
    }
}
@media only screen and (min-width: 801px) and (orientation: landscape) {
    .waveMiddle {
        background-size: 50% 6rem;
    }
}
@media only screen and (min-width: 801px) and (orientation: landscape) {
    .waveBottom {
        background-size: 50% 5.25rem;
    }
}
@media only screen and (min-width: 1025px) and (orientation: portrait) {
    .waveTop {
        background-size: 50% 6.5rem;
    }
}
@media only screen and (min-width: 1025px) and (orientation: portrait) {
    .waveMiddle {
        background-size: 50% 7.5rem;
    }
}
@media only screen and (min-width: 1025px) and (orientation: portrait) {
    .waveBottom {
        background-size: 50% 6.75rem;
    }
}
@media only screen and (min-width: 1025px) and (orientation: landscape) {
    .waveTop {
        background-size: 50% 6.5rem;
    }
}
@media only screen and (min-width: 1025px) and (orientation: landscape) {
    .waveMiddle {
        background-size: 50% 7.5rem;
    }
}
@media only screen and (min-width: 1025px) and (orientation: landscape) {
    .waveBottom {
        background-size: 50% 6.75rem;
    }
}
@media only screen and (min-width: 1281px) and (orientation: portrait) {
    .waveTop {
        background-size: 50% 8rem;
    }
}
@media only screen and (min-width: 1281px) and (orientation: portrait) {
    .waveMiddle {
        background-size: 50% 9rem;
    }
}
@media only screen and (min-width: 1281px) and (orientation: portrait) {
    .waveBottom {
        background-size: 50% 8.25rem;
    }
}
@media only screen and (min-width: 1281px) and (orientation: landscape) {
    .waveTop {
        background-size: 50% 8rem;
    }
}
@media only screen and (min-width: 1281px) and (orientation: landscape) {
    .waveMiddle {
        background-size: 50% 9rem;
    }
}
@media only screen and (min-width: 1281px) and (orientation: landscape) {
    .waveBottom {
        background-size: 50% 8.25rem;
    }
}

/*****************************************************************************************WAVE DISPLAY NONE START**********************************************************/

/*WAVE PORTRAIT DISPLAY NONE*/
@media only screen and (min-width: 400px) and (max-width: 499px) and (max-height: 630px) {
    .waveTop {
      /*  display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 400px) and (max-width: 499px) and (max-height: 630px) {
    .waveMiddle {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 400px) and (max-width: 499px) and (max-height: 630px) {
    .waveBottom {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 500px) and (max-height: 600px) {
    .waveTop {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 500px) and (max-height: 600px) {
    .waveMiddle {
        /*display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 500px) and (max-height: 600px) {
    .waveBottom {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 568px) and (max-height: 695px) {
    .waveTop {
        /*display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 568px) and (max-height: 695px) {
    .waveMiddle {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 568px) and (max-height: 695px) {
    .waveBottom {
        /*display: none*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 600px) and (max-height: 719px) {
    .waveTop {
      /*  display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 600px) and (max-height: 719px) {
    .waveMiddle {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 600px) and (max-height: 719px) {
    .waveBottom {
        /*display: none;*/
        opacity: 0.0;
    }
}

/*WAVE LANDSCAPES DISPLAY NONE*/
@media only screen and (min-width: 600px) and (max-width: 764px) and (min-height: 700px) and (max-height: 719px) {
    .waveTop {
        display: inherit;
   /*     background-size: 50% 2rem;*/
    }
}
@media only screen and (min-width: 600px) and (max-width: 764px) and (min-height: 700px) and (max-height: 719px) {
    .waveMiddle {
        display: inherit;
      /*  background-size: 50% 3.5rem;*/
    }
}
@media only screen and (min-width: 600px) and (max-width: 764px) and (min-height: 700px) and (max-height: 719px) {
    .waveBottom {
        display: inherit;
     /*   background-size: 50% 2.5rem;*/
    }
}
@media only screen and (min-width: 765px) and (max-height: 759px) {
    .waveTop {
        /*display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 765px) and (max-height: 759px) {
    .waveMiddle {
        /*display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 765px) and (max-height: 759px) {
    .waveBottom {
      /*  display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 765px) and (max-width: 800px) and (min-height: 738px) and (max-height: 759px) {
    .waveTop {
        display: inherit;
   /*     background-size: 50% 2rem;*/
    }
}
@media only screen and (min-width: 765px) and (max-width: 800px) and (min-height: 738px) and (max-height: 759px) {
    .waveMiddle {
        display: inherit;
       /* background-size: 50% 3.5rem;*/
    }
}
@media only screen and (min-width: 765px) and (max-width: 800px) and (min-height: 738px) and (max-height: 759px) {
    .waveBottom {
        display: inherit;
      /*  background-size: 50% 2.5rem;*/
    }
}
@media only screen and (min-width: 801px) and (max-height: 773px) {
    .waveTop {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 801px) and (max-height: 773px) {
    .waveMiddle {
       /* display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 801px) and (max-height: 773px) {
    .waveBottom {
        /*display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 801px) and (max-width: 1023px) and (min-height: 750px) and (max-height: 810px) {
    .waveTop {
        display: inherit;
       /* background-size: 50% 3rem;*/
    }
}
@media only screen and (min-width: 801px) and (max-width: 1023px) and (min-height: 750px) and (max-height: 810px) {
    .waveMiddle {
        display: inherit;
      /*  background-size: 50% 4.5rem;*/
    }
}
@media only screen and (min-width: 801px) and (max-width: 1023px) and (min-height: 750px) and (max-height: 810px) {
    .waveBottom {
        display: inherit;
       /* background-size: 50% 3.5rem;*/
    }
}

@media only screen and (min-width: 320px) and (min-height: 705px) and (orientation: landscape) {
    .waveTop {
      opacity: 1.0 !important;
    }
}
@media only screen and (min-width: 320px) and (min-height: 705px) and (orientation: landscape) {
    .waveMiddle {
        opacity: 1.0 !important;
    }
}
@media only screen and (min-width: 320px) and (min-height: 705px) and (orientation: landscape) {
    .waveBottom {
        opacity: 1.0 !important;
    }
}

@media only screen and (min-width: 320px) and (min-height: 321px) and (orientation: portrait) {
    .waveTop {
      opacity: 1.0 !important;
    }
}
@media only screen and (min-width: 320px) and (min-height: 321px) and (orientation: portrait) {
    .waveMiddle {
        opacity: 1.0 !important;
    }
}
@media only screen and (min-width: 320px) and (min-height: 321px) and (orientation: portrait) {
    .waveBottom {
        opacity: 1.0 !important;
    }
}
/*@media only screen and (min-width: 1024px) and (max-width: 1279px) and (min-height: 750px) and (max-height: 810px) {
    .waveTop {
        display: inherit;
        background-size: 50% 4rem;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) and (min-height: 750px) and (max-height: 810px) {
    .waveMiddle {
        display: inherit;
        background-size: 50% 5.5rem;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1279px) and (min-height: 750px) and (max-height: 810px) {
    .waveBottom {
        display: inherit;
        background-size: 50% 4.5rem;
    }
}*/
@media only screen and (min-width: 1280px) and (max-height: 810px) {
    .waveTop {
        /*display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 1280px) and (max-height: 810px) {
    .waveMiddle {
        /*display: none;*/
        opacity: 0.0;
    }
}
@media only screen and (min-width: 1280px) and (max-height: 810px) {
    .waveBottom {
        /*display: none;*/
        opacity: 0.0;
    }
    @media only screen and (min-width: 1280px) and (min-height: 750px) {
        .waveTop {
            display: inherit;
           /* background-size: 50% 4rem;*/
        }
    }
    @media only screen and (min-width: 1280px) and (min-height: 750px) {
        .waveMiddle {
            display: inherit;
          /*  background-size: 50% 5.5rem;*/
        }
    }
    @media only screen and (min-width: 1280px) and (min-height: 750px) {
        .waveBottom {
            display: inherit;
        /*    background-size: 50% 4.5rem;*/
        }
    } 

    /*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!*/

    @media only screen and (min-width: 0px) {
        .wd {
            font-size: 1.25rem;
            margin-bottom: -3rem;
        }
    }

    @media only screen and (min-width: 320px) {
        .wd {
            font-size: 1.25rem;
            margin-bottom: -3rem;
        }
    }
    @media only screen and (min-width: 375px) {
        .wd {
            font-size: 1.3rem;
            margin-bottom: -3rem;
        }
    }
    @media only screen and (min-width: 414px) {
        .wd {
            font-size: 1.4rem;
            margin-bottom: -3.5rem;
        }
    }
    @media only screen and (min-width: 464px) {
        .wd {
            margin-bottom: -4rem;
        }
    }
    @media only screen and (min-width: 514px) {
        .wd {
            margin-bottom: -4.25rem;
        }
    }
    @media only screen and (min-width: 568px) {
        .wd {
            font-size: 1.5rem;
            margin-bottom: -4.5rem;
        }
    }
    @media only screen and (min-width: 667px) {
        .wd {
            font-size: 1.5rem;
            margin-bottom: -4.5rem;
        }
    }
    @media only screen and (min-width: 765px) {
        .wd {
            font-size: 1.75rem;
            margin-bottom: -5rem;
        }
    }
    @media only screen and (min-width: 2200px) and (min-height: 1200px) {
        .wd {
            font-size: 2rem;
            margin-bottom: -6rem;
        }
    }
}

@media only screen and (min-width: 320px) {
    .wd {
        font-size: 1.25rem;
        margin-bottom: -3rem;
    }
}
@media only screen and (min-width: 375px) {
    .wd {
        font-size: 1.3rem;
        margin-bottom: -3rem;
    }
}
@media only screen and (min-width: 414px) {
    .wd {
        font-size: 1.4rem;
        margin-bottom: -3.5rem;
    }
}
@media only screen and (min-width: 464px) {
    .wd {
        margin-bottom: -4rem;
    }
}
@media only screen and (min-width: 514px) {
    .wd {
        margin-bottom: -4.25rem;
    }
}
@media only screen and (min-width: 568px) {
    .wd {
        font-size: 1.5rem;
        margin-bottom: -4.5rem;
    }
}
@media only screen and (min-width: 667px) {
    .wd {
        font-size: 1.5rem;
        margin-bottom: -4.5rem;
    }
}
@media only screen and (min-width: 765px) {
    .wd {
        font-size: 1.75rem;
        margin-bottom: -5rem;
    }
}
@media only screen and (min-width: 2200px) and (min-height: 1200px) {
    .wd {
        font-size: 2rem;
        margin-bottom: -6rem;
    }
}
