html, body {
  margin: 0; 
   background-image: linear-gradient(to bottom, #2453ff 65%, #E0C3FC 105%);
  background-image: linear-gradient(to bottom, #2453ff 65%, #E0C3FC 105%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

/*#2453ff*/
@-moz-document url-prefix() {
    .home:hover, .about:hover, .services:hover, .contact:hover { 
  transition-duration: 0.05s;
    }
}

a:focus {
  outline-color: #2B03FF;
}

.txt {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-family: Inria Serif;
  z-index: 35;
  text-align: center;
  cursor: default;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  animation-delay: 1.75s;
}

#logo {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 28;
  user-select: none;
  border-radius: 30%;
}

.banner {
  display: flex;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: 'Inria Serif', serif;
  z-index: 38;
  border-style: solid;
  border-color: white;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 0.15rem;
}

nav .home, .about, .services, .contact {
  line-height: 50px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: default;
  border-radius: 20%;
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
    -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  /*change back to 0.75s*/
  animation-delay: 0.75s;
}

.home {
  width: 100px;
  user-select: none;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  cursor: default;
}

.about {
  width: 110px;
  white-space: nowrap;
  user-select: none;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  animation-delay: 1s;
  cursor: default;
}

.about:hover {
  color: white;
  text-decoration: none;
}

.services {
  width: 120px;
  user-select: none;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  animation-delay: 1.25s;
  cursor: default;
}

.services:hover {
  color: white;
  text-decoration: none;
}

.contact {
  width: 130px;
  user-select: none;
  -webkit-transition: all 1s ease-out;
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -ms-transition: all 1s ease-out;
  transition: all 1s ease-out;
  text-decoration: none;
    -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  animation-delay: 1.5s;
  cursor: default;
}

.contact:hover {
  color: white;
  text-decoration: none;
}

h3, p {
  max-width: 30em;
  margin-bottom: 1.618em;
  color: white;
}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}

.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
    animation-delay: 4.75s;
}

.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    /*background-image: linear-gradient(to bottom, #486fff 50%, #E0C3FC 115%);*/
    animation-delay: 4.75s;
}

.bgTop {
    z-index: 15;
    opacity: 0.5;
    animation-delay: 4.75s;
}

.bgMiddle {
    z-index: 10;
    opacity: 0.75;
    animation-delay: 4.75s;
}

.bgBottom {
    z-index: 5;
    animation-delay: 4.75s;
}

.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

.waveTop {
    background-size: 25% 100px;
}

.waveAnimation .waveTop {
    animation: move-wave 3s;
    -webkit-animation: move-wave 3s;
    -webkit-animation-delay: 4.75s;
    animation-delay: 4.75s;
}
.waveMiddle {
    background-size: 50% 120px;
}

.waveAnimation .waveMiddle {
    animation: move_wave 15s linear infinite;
}

.waveBottom {
    background-size: 50% 100px;
}

.waveAnimation .waveBottom {
    animation: move_wave 20s linear infinite;
}

.design {
text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.profweb {
  white-space: wrap;
  text-align: center;
  animation-delay: 2.75s;
  word-spacing: 0.225rem;
  margin-top: -2.5rem;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.downarrow {
  border-radius: 35%;
  background:url(images/Down Arrowww.png) no-repeat;   
  z-index: 50;
  padding: 0.75em;
  animation-delay: 3.75s;
  animation-duration: 4s;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
  cursor: default;
}

.downarrow:focus {
  outline-color: #2A00FF;
  outline-style: solid;
  outline-width: 0.1px;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

.da-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 66;
  position: relative;

}

.fc {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: absolute;
  z-index: 150;
  height: 55.5%;
  width: 75%;
}
svg {
  z-index: 150;
}

.wd {
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0.25rem;
}

.mspage {
  position: relative;
}

.pfpage {
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 3%, rgba(111,117,185,1) 10%, rgba(111,117,185,1) 90%, rgba(0,21,39,1) 97%);
  position: relative;
}

.cppage {
  background: linear-gradient(180deg, #001628 25%, #000000 100%);
  position: relative;
}

/*.footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  position: relative;
  z-index: 204;
  user-select: none;
}

footer {
  color: #fff;
  font-weight: 500;
  background-color: #2A00FF;
  opacity: 1;
  cursor: pointer;
  z-index: 286;
  width: 25vh;
  margin-bottom: 15px;
  font-size: 1rem;
  transition: all 1s ease-out;
  border-radius: 10%;
}
*/

.home:hover, .about:hover, .services:hover, .contact:hover {
  color: #2A00FF;
  font-weight: bolder;
}

#button {
  display: inline-block;
  background-image: linear-gradient(to bottom, #486fff 50%, #E0C3FC 115%);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button:after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  background-image:  #000;
}

#button:active {
  background-color: #000;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

.home:focus, .about:focus, .services:focus, .contact:focus {
  color: #2A00FF;
  font-weight: bolder;
  outline: none;
}
