/*!!!!!!!!!!!!!!!!!!!!PORTRAITS!!!!!!!!!!!!!!!!!!!!*/

/* iPhone SE */ 
@media only screen 
  and (min-width: 320px) 
  and (orientation: portrait) {
  .mspage {

  }
}

@media only screen 
  and (min-width: 320px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 320px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/* iPhone 6/7/8 and iPhone X */
@media only screen 
  and (min-width: 375px) 
  and (orientation: portrait) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 375px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}


@media only screen 
  and (min-width: 375px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/* iPhone 6/7/8 Plus */
@media only screen 
  and (min-width: 414px) 
  and (orientation: portrait) {
  .mspage {
      height: 2000px;
  }
}

@media only screen 
  and (min-width: 414px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}


@media only screen 
  and (min-width: 414px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/* 535px device */
@media only screen 
  and (min-width: 535px) 
  and (orientation: portrait) {
  .mspage {
      height: 2000px;
  }
}

@media only screen 
  and (min-width: 535px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}


@media only screen 
  and (min-width: 535px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/* 650px device */ 
@media only screen 
  and (min-width: 650px) 
  and (orientation: portrait) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 650px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}


@media only screen 
  and (min-width: 650px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/* iPad, iPad Air, iPad Mini, iPad Pro 9" */
@media only screen 
  and (min-width: 768px) 
  and (orientation: portrait) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 768px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 768px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/* iPad Pro 10" */
@media only screen 
  and (min-width: 834px) 
  and (orientation: portrait) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 834px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 834px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;
  }
}

/* 934px device */
@media only screen 
  and (min-width: 934px) 
  and (orientation: portrait) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 934px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 934px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/* iPad Pro */
@media only screen 
  and (min-width: 1024px) 
  and (orientation: portrait) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 1024px) 
  and (orientation: portrait) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 1024px) 
  and (orientation: portrait) {
  .cppage {
    height: 2000px;

  }
}

/*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!*/

/* Smallest Browser Size */
@media only screen 
  and (min-width: 320px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 320px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}


@media only screen 
  and (min-width: 320px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}


/* iPhone SE */
@media only screen 
  and (min-width: 568px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 568px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}


@media only screen 
  and (min-width: 568px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}


/* iPhone 6, 7, 8 */ 
@media only screen 
  and (min-width: 667px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 667px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 667px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/* iPhone 6, 7, 8 Plus */
@media only screen 
  and (min-width: 736px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 736px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 736px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/* iPhone X */
@media only screen 
  and (min-width: 812px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 812px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 812px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/* 922px device */
@media only screen 
  and (min-width: 922px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 922px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 922px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/*  iPad, iPad Air, iPad Mini, iPad Pro 9" */
@media only screen 
  and (min-width: 1024px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 1024px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 1024px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/*iPod Pro 10" */
@media only screen 
  and (min-width: 1112px) 
  and (orientation: landscape) {
  .mspage {

  }
}

@media only screen 
  and (min-width: 1112px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 1112px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/* HD laptops (768p) */
@media only screen 
  and (min-width: 1366px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 1366px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 1366px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/* Laptop with HiDPI Screen */
@media only screen 
  and (min-width: 1440px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 1440px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 1440px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/*  13" MacBook Pro (1.5x scaling) */
@media only screen 
  and (min-width: 1680px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 1680px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;

  }
}

@media only screen 
  and (min-width: 1680px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;

  }
}

/*  1080p displays */
@media only screen 
  and (min-width: 1920px) 
  and (orientation: landscape) {
  .mspage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 1920px) 
  and (orientation: landscape) {
  .pfpage {
    height: 2000px;
  }
}

@media only screen 
  and (min-width: 1920px) 
  and (orientation: landscape) {
  .cppage {
    height: 2000px;
  }
}