/* Smallest phone */
@media only screen 
  and (min-width: 180px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 2rem;
  }
}

@media  only screen 
  and (min-width: 180px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 3rem;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 2.25rem;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 2rem;
  }
}

@media  only screen 
  and (min-width: 180px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 2.5rem;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 2.25rem;
  }
}
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

@media only screen 
  and (min-width: 328px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 3rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 3.25rem;
  }
}

@media only screen 
  and (min-width: 328px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 3rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 3.25rem;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

@media only screen 
  and (min-width: 600px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 4.25rem;
  }
}

@media only screen 
  and (min-width: 600px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 4.25rem;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 

@media only screen 
  and (min-width: 801px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 6rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 5.25rem;
  }
}

@media only screen 
  and (min-width: 801px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 6rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 5.25rem;
  }
}

/* big landscape tablets, laptops, and desktops */

@media only screen 
  and (min-width: 1025px)  
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 6.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 7.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 6.75rem;
  }
}

@media only screen 
  and (min-width: 1025px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 6.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 7.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 6.75rem;
  }
}

/* hi-res laptops and desktops */ 

@media only screen 
  and (min-width: 1281px)
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 8rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 9rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 8.25rem;
  }
}

@media only screen 
  and (min-width: 1281px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 8rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 9rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 8.25rem;
  }
}


/************************************************************HEIGHT FIX************************************************************/

@media only screen 
  and (min-width: 180px)  
  and (max-height: 475px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (max-height: 475px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (max-height: 475px)  {
  .waveBottom {
    display: none;
  }
}


@media only screen 
  and (min-width: 328px)  
  and (max-height: 497px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (max-height: 497px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (max-height: 497px)  {
  .waveBottom {
    display: none;
  }
}

@media only screen 
  and (min-width: 375px)  
  and (max-height: 586px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 375px) 
  and (max-height: 586px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 375px) 
  and (max-height: 586px)  {
  .waveBottom {
    display: none;
  }
}

@media only screen 
  and (min-width: 414px)  
  and (max-height: 655px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 414px) 
  and (max-height: 655px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 414px) 
  and (max-height: 655px)  {
  .waveBottom {
    display: none;
  }
}

@media only screen 
  and (min-width: 500px)  
  and (max-height: 635px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 500px) 
  and (max-height: 635px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 500px) 
  and (max-height: 635px)  {
  .waveBottom {
    display: none;
  }
}

@media only screen 
  and (min-width: 568px)  
  and (max-height: 712px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 568px) 
  and (max-height: 712px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 568px) 
  and (max-height: 712px)  {
  .waveBottom {
    display: none;
  }
}

@media only screen 
  and (min-width: 600px)  
  and (max-height: 737px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (max-height: 737px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (max-height: 737px)  {
  .waveBottom {
    display: none;
  }
}

@media only screen 
  and (min-width: 765px)  
  and (max-height: 759px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 765px) 
  and (max-height: 759px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 765px) 
  and (max-height: 759px)  {
  .waveBottom {
    display: none;
  }
}


@media only screen 
  and (min-width: 801px)  
  and (max-height: 770px)  {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (max-height: 770px)  {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (max-height: 770px)  {
  .waveBottom {
    display: none;
  }
}


@media only screen 
  and (min-width: 1025px)
  and (max-height: 790px) {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 1025px)
  and (max-height: 790px) {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (max-height: 790px) {
  .waveBottom {
    display: none;
  }
}

@media only screen 
  and (min-width: 1280px)
  and (max-height: 810px) {
  .waveTop {
     display: none;
  }
}

@media only screen 
  and (min-width: 1280px)
  and (max-height: 810px) {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-width: 1280px) 
  and (max-height: 810px) {
  .waveBottom {
    display: none;
  }