/* Smallest phone */
@media only screen 
  and (min-width: 180px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 2rem;
  }
}

@media  only screen 
  and (min-width: 180px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 3rem;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 2.25rem;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 2rem;
  }
}

@media  only screen 
  and (min-width: 180px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 2.5rem;
  }
}

@media only screen 
  and (min-width: 180px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 2.25rem;
  }
}
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 

@media only screen 
  and (min-width: 328px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 3rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 3.25rem;
  }
}

@media only screen 
  and (min-width: 328px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 3rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 328px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 3.25rem;
  }
}

/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

@media only screen 
  and (min-width: 600px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 4.25rem;
  }
}

@media only screen 
  and (min-width: 600px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 4rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 600px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 4.25rem;
  }
}

/* tablet, landscape iPad, lo-res laptops ands desktops */ 

@media only screen 
  and (min-width: 801px) 
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 6rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 5.25rem;
  }
}

@media only screen 
  and (min-width: 801px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 5rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 6rem;
  }
}

@media only screen 
  and (min-width: 801px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 5.25rem;
  }
}

/* big landscape tablets, laptops, and desktops */

@media only screen 
  and (min-width: 1025px)  
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 6.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 7.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 6.75rem;
  }
}

@media only screen 
  and (min-width: 1025px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 6.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 7.5rem;
  }
}

@media only screen 
  and (min-width: 1025px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 6.75rem;
  }
}

/* hi-res laptops and desktops */ 

@media only screen 
  and (min-width: 1281px)
  and (orientation: portrait) {
  .waveTop {
     background-size: 50% 8rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: portrait) {
  .waveMiddle {
    background-size: 50% 9rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: portrait) {
  .waveBottom {
    background-size: 50% 8.25rem;
  }
}

@media only screen 
  and (min-width: 1281px)  
  and (orientation: landscape) {
  .waveTop {
     background-size: 50% 8rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: landscape) {
  .waveMiddle {
    background-size: 50% 9rem;
  }
}

@media only screen 
  and (min-width: 1281px) 
  and (orientation: landscape) {
  .waveBottom {
    background-size: 50% 8.25rem;
  }
}

@media only screen 
   and (min-height: 0px) 
  and (max-height: 100px)  
  and (orientation: landscape) {
  .waveTop {
     display: none;
  }
}

@media only screen 
   and (min-height: 0px) 
  and (max-height: 100px) {
  .waveMiddle {
    display: none;
  }
}

@media only screen 
  and (min-height: 0px) 
  and (max-height: 100px)
  and (orientation: landscape) {
  .waveBottom {
    display: none;
  }
}