/*!!!!!!!!!!!!!!!!!!!!PORTRAITS!!!!!!!!!!!!!!!!!!!!*/
/*
@media only screen 
  and (min-width: 320px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.05rem;
    margin-bottom: -2.5rem;
  }
}

@media only screen 
  and (min-width: 375px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.25rem;
    margin-bottom: -3rem;
  }
}

@media only screen 
  and (min-width: 414px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.3rem;
    margin-bottom: -3rem;
  }
}

@media only screen 
  and (min-width: 535px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.3rem;
    margin-bottom: -3rem;
  }
}

@media only screen 
  and (min-width: 650px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.5rem;
    margin-bottom: -4rem;
  }
}

@media only screen 
  and (min-width: 768px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.6rem;
    margin-bottom: -4rem;
  }
}

@media only screen 
  and (min-width: 834px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.7rem;
    margin-bottom: -4rem;
  }
}

@media only screen 
  and (min-width: 934px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.8rem;
    margin-bottom: -4rem;
  }
}

@media only screen 
  and (min-width: 1024px) 
  and (orientation: portrait) {
  .wd {
    font-size: 1.9rem;
    margin-bottom: -5rem;
  }
}*/

/*!!!!!!!!!!!!!!!!!!!!PORTRAIT HEIGHT FIXES!!!!!!!!!!!!!!!!!!!!*/


/*!!!!!!!!!!!!!!!!!!!!LANDSCAPES!!!!!!!!!!!!!!!!!!!!*/

@media only screen 
  and (min-width: 320px) {
  .wd {
    font-size: 1.25rem;
    margin-bottom: -3rem;
  }
}

@media only screen 
  and (min-width: 375px) {
  .wd {
    font-size: 1.3rem;
    margin-bottom: -3rem;
  }
}

@media only screen 
  and (min-width: 414px) {
  .wd {
    font-size: 1.4rem;
    margin-bottom: -3.5rem;
  }
}

@media only screen 
  and (min-width: 464px) {
  .wd {
    margin-bottom: -4rem;
  }
}

@media only screen 
  and (min-width: 514px) {
  .wd {
    margin-bottom: -4.25rem;
  }
}


@media only screen 
  and (min-width: 568px) {
  .wd {
    font-size: 1.5rem;
    margin-bottom: -4.5rem;
  }
}

@media only screen 
  and (min-width: 667px) {
  .wd {
    font-size: 1.5rem;
    margin-bottom: -4.5rem;
  }
}

@media only screen 
  and (min-width: 765px) {
  .wd {
    font-size: 1.75rem;
    margin-bottom: -5rem;
  }
}

@media only screen 
  and (min-width: 2200px)
  and (min-height: 1200px) {
  .wd {
    font-size: 2rem;
     margin-bottom: -6rem;
  }
}

/*!!!!!!!!!!!!!!!!!!!!LANDSCAPES HEIGHT FIXES!!!!!!!!!!!!!!!!!!!!*/

/*@media only screen 
  and (min-width: 812px)
  and (min-height: 420px)    
  and (orientation: landscape) {
  .wd {
    font-size: 1.25rem;
    margin-bottom: -3.5rem;
  }
}

@media only screen 
  and (min-width: 922px)  
  and (min-height: 0px) 
  and (orientation: landscape) {
  .wd {
    font-size: 1.3rem;
    margin-bottom: -4.5rem;
  }
}