html, body {
  margin: auto 0%; 
  height: 100vh;
  background-color: #FFFFFF;
  font-size:100%;
  margin: 0;
}

/*.border {
display: flex;
justify-content: center;
height: 100%;
  width: 100%;
  z-index: 25;
  position: absolute;
  color: #6285FF;
  border:0;
}



.blue {
  height: 0.2%;
  width: 33%;
  margin: 5.75rem 0rem 0rem 2rem;
  background-color: white;
}*/


a:focus {
  outline-color: #2B03FF;
}

.btn:focus {
  box-shadow: 6px 6px 20px black;
  background-color: #2A00FF;
 }

.txt {
  /*border: 1px solid #FFFFFF;*/
display: flex;
align-items: center;
justify-content: center;
position: absolute;
height: 110%;
width: 90%;
top: -25%;
left: 4.2%;
font-family: Inria Serif;
font-size: 18px;
z-index: 33;
text-align: center;
cursor: default;
user-select: none;
animation-delay: 1s;
}

.letstalk {
 position: absolute;
 z-index: 44;
 width: 200px;
 user-select: none;
 padding-top: 500px;
 cursor: pointer;
  box-shadow: 0px 0px 3px black;
  border-color: #6284FF;
}

.btn {
-webkit-tap-highlight-color: #2A00FF;
margin: 0;
font: inherit;
overflow: visible;
text-transform: none;
-webkit-appearance: button;
font-family: inherit;
display: inline-block;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
touch-action: manipulation;
cursor: pointer;
user-select: none;
background-image: none;
border: 1px solid transparent;
border-radius: 20px;
box-sizing: border-box;
border-width: 2px;
font-size: 16px;
font-weight: 500;
padding: 7px 18px;
transition: all 150ms linear;
border-color: #2A00FF;
margin-bottom: 10px;
color: #FFFFFF;
background-color: #2A00FF;
opacity: 1;
}

.btn:hover {
  background-color: #2A00FF;
  border-color: #2A00FF;
}

.btn:focus {
    background-color: #2A00FF;
  border-color: #2A00FF;
  outline-color: #2A00FF;
}

#logo {
  display: flex;
  align-items: center;
  position: absolute;
  z-index: 28;
  user-select: none;
  border-radius: 30%;
}

.banner {
  display: flex;
align-items: center;
}


/*NAV BAR*/
nav {
  margin: -10px auto 0;
  margin-right: 0px;
  position: relative;
  height: 50px;
  /*Deciding with or without?*/
  /*background-color: #2A00FF; */
  border-radius: 8px;
  font-size: 0;
  font-family: 'Inria Serif', serif;
   z-index: 38;
}

nav .home, .about, .services, .contact {
  line-height: 50px;
  height: 100%;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-align: center;
  color: white;
  cursor: pointer;
}


nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all .5s ease 0s;
  border-radius: 7px;
}

.home {
  width: 100px;
  user-select: none;
    -webkit-transition: all 0.5s ease-out;
   -moz-transition: all 0.5s ease-out;
   -o-transition: all 0.5s ease-out;
   -ms-transition: all 0.5s ease-out;
   transition: all 0.5s ease-out;
 
}

.home:hover, .about:hover, .services:hover, .contact:hover {
    transform: scale(1.15);
 transition: all 1s ease-out;
 transition-delay: 0.05s;
}

.about {
  width: 110px;
  color: white;
  white-space: nowrap;
  user-select: none;
    -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
   text-decoration: none;
}

.about:hover {
  color: white;
  text-decoration: none;

}

.services {
  width: 120px;
  user-select: none;
    -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
   text-decoration: none;
}

.services:hover {
  color: white;
  text-decoration: none;
}

.contact {
  width: 130px;
  user-select: none;
    -webkit-transition: all 1s ease-out;
   -moz-transition: all 1s ease-out;
   -o-transition: all 1s ease-out;
   -ms-transition: all 1s ease-out;
   transition: all 1s ease-out;
   text-decoration: none;
}

.contact:hover {
  color: white;
  text-decoration: none;
}

/*End of NAV BAR*/

h3, p {
  max-width: 30em;
  margin-bottom: 1.618em;
  color: white;

}

@keyframes move_wave {
    0% {
        transform: translateX(0) translateZ(0) scaleY(1)
    }
    50% {
        transform: translateX(-25%) translateZ(0) scaleY(0.55)
    }
    100% {
        transform: translateX(-50%) translateZ(0) scaleY(1)
    }
}
.waveWrapper {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: auto;
}
.waveWrapperInner {
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
    bottom: -1px;
    background-image: linear-gradient(to bottom, #486fff 50%, #E0C3FC 115%);


}
.bgTop {
    z-index: 15;
    opacity: 0.5;
}
.bgMiddle {
    z-index: 10;
    opacity: 0.75;
}
.bgBottom {
    z-index: 5;
}
.wave {
    position: absolute;
    left: 0;
    width: 200%;
    height: 100%;
    background-repeat: repeat no-repeat;
    background-position: 0 bottom;
    transform-origin: center bottom;
}
.waveTop {
    background-size: 25% 100px;
}
.waveAnimation .waveTop {
  animation: move-wave 3s;
   -webkit-animation: move-wave 3s;
   -webkit-animation-delay: 1s;
   animation-delay: 1s;
}
.waveMiddle {
    background-size: 50% 120px;
}
.waveAnimation .waveMiddle {
    animation: move_wave 15s linear infinite;
}
.waveBottom {
    background-size: 50% 100px;
}
.waveAnimation .waveBottom {
    animation: move_wave 20s linear infinite;
}

.design {
text-align: center;
}

.profweb {
  white-space: wrap;
  text-align: center;
  animation-delay: 2s;
  word-spacing: 0.225rem;
  margin-top: -2.5rem;

}

.downarrow {
  user-select: none;
  border-radius: 35%;
  background:url(images/Down Arrowww.png) no-repeat;   
  z-index: 50;
  padding: 0.75em;
  animation-delay: 3.25s;
  animation-duration: 5s;

}

.downarrow:focus {
  outline-style: none;
}

.da-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 66;
  height: 75%;
}

.fc {
display: flex;
justify-content: center;
align-items: flex-end;
position: absolute;
z-index: 150;
height: 55.5%;
  width: 75%;
}
svg {
  z-index: 150;
}

.webdesigner {
  font-size: 1.25rem;
  display: flex;
align-items: center;
justify-content: center;
margin-top: 0.25rem;
}

.mspage {
  height: 100vh;
  /*background-image: url(/images/bgcolor.jpg);*/
  background: #fff
  position: relative;
}

.pfpage {
  height: 70vh;
background: rgb(164,162,253);
background: linear-gradient(180deg, rgba(164,162,253,1) 20%, rgba(255,72,72,1) 100%);

  position: relative;
}

.cppage {
  height: 70vh;
  background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 10%, rgba(70,234,176,1) 100%);
  position: relative;
}